---
title: Qiyang Hong
layout: default
---
<div class="jumbotron-fluid front-jumbo">
  <div class="content-container title-container">
    <div class="title">
      <h1 class="home-title">Qiyang Hong</h1>
      <h4 class="home-blurb">Pianist, Thinker</h4>
      <div class="sm-icons">
        <a href="https://www.facebook.com" style="background-image: url('assets/images/facebook.png')"></a>
        <a href="https://www.instagram.com" style="background-image: url('assets/images/instagram.png')"></a>
        <a href="mailto: jerryjiao@berkeley.edu" style="background-image: url('assets/images/mail.png')"></a>
      </div>
    </div>
  </div>
</div>

{% include navigation.html %}
<!-- {% include footer.html %} -->
