.about-jumbo {
  background-image: url("../images/about1.jpg");
}

.about-section {

}

.about-paragraph {
  // border: 1px solid cyan;
  width: 600px;
  margin-left: 10px;
  line-height: 25px;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: white;
}
