.gallery-title {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.gallery-items {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-pic {
  max-width: 35vw;
  width: 100%;
  height: auto;
}

iframe {
  width: 35vw;
  height: 20vw;
}

// .row {
//   display: flex;
//   flex-wrap: wrap;
// }

.col-md-6 {
  display: flex;
  justify-content: center;

  padding-bottom: 50px;
}

// .row {
//   justify-content: space-between;
// }
