.front-jumbo {
  background-image: url("../images/cropped.jpg");
  background-size: cover;
  background-position: 0% 60%;
}

.sm-icons {
  // border: 1px solid white;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: center;

  a {
    margin: 0px 7px;
    width: 20px;
    height: 20px;
    background-size: cover;
  }

  a:hover {
    opacity: 0.5;
  }
}
